@model OoIHaveThat2._1.Models.Response

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Response</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeekerUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeekerUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToolRequestId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToolRequestId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceCounterOffer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceCounterOffer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceCounterOfferCounter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceCounterOfferCounter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistanceBetween)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistanceBetween)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
