@model IEnumerable<OoIHaveThat2._1.Models.Response>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SeekerUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToolRequestId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceCounterOffer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceCounterOfferCounter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistanceBetween)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SeekerUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToolRequestId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceCounterOffer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceCounterOfferCounter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanceBetween)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
